body {
    text-align: center;
    background-color: white;
    color: white;
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}

.line {
    height: 6px;

    width: 70px;
    margin: 8px auto;
}

#contact iframe {
    width: 100%;
}



#div {
    margin-left: 150px;
    width: 100$
}



input {
    background: white;
}

.book {
    cursor: pointer;
}

.book hr {
    margin-bottom: 10px;
}

.modal-content {
    margin-top: 100px;
}

.img_modal {
    display: inline-block;
}

.p_modal {
    margin-top: 10px;
}

.modal-body {
    text-align: center;
}

.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i {
    float: right;
}

.movie_text span {
    color: blue;
}

#div {
    border-radius: 200px;
    width: 1000px;
    margin-top: -400px;
    margin-left: 150px;

}

#map {
    margin-right: 700px;
}

.details {
    margin-left: 500px;
}


.environment_li {
    margin-top: 13px;
}

.environment_li h4 {
    border-bottom: 10px solid blue;
    padding: 8px;
}

.environment_li img {
    border-radius: 25px;
}

.environment_li p {
    margin-top: 10px;
}

.book {
    cursor: pointer;
}

.book hr {
    margin-bottom: 10px;
}

.modal-content {
    margin-top: 100px;
}

.img_modal {
    display: inline-block;
}

.p_modal {
    margin-top: 10px;
    color:black
}

.modal-body {
    text-align: center;
}
